<div class="panel panel-primary">
    <div class="panel-heading">User Info</div>
    <div class="panle-body">
      <div style="padding:10px">
        <form>
          <div class="form-group">
            <label>Name:</label>
            <label>{{userinfo.employee_name}}</label> 
          </div>
          <div class="form-group">
            <label>Salary:</label>
            <label>{{userinfo.employee_salary}}</label> 
          </div>
          <div class="form-group">
            <label>Age:</label>
            <label>{{userinfo.employee_age}}</label> 
          </div>
          <button type="button" (click)="back()" class="btn btn-default">Back</button>
        </form>
      </div>
  
    </div>
  </div>
  